@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');
* {
    font-family:'Outfit', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color:hsl(217, 54%, 11%);
    position: relative;
    font-size: 13px;
  }
  
  .main-container {
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
  }
  
  .secondary {
    max-width: 260px;
    background-color: hsl(216, 50%, 16%);
    border-radius: 20px;
    padding: 15px;
    
  }
  
  .img-container {
    overflow: hidden;
    position: relative;
  }
  .img-container img {
    border-radius: 10px;
    max-width: 100%;
  }
  
  .heading {
    margin-top: 5px;
    margin-bottom: 8px;
    
  }

  .heading h1{
      margin-top: 12px;
    color: white;
    font-size: 18px;
  }

  .heading h1:hover{
      color: hsl(178, 100%, 50%);
      cursor: pointer;
  }

  .heading p{
      margin-top: 8px;
      color: hsl(215, 51%, 70%);
      margin-bottom: 6px;
      line-height: 20px;
  }
  


  
  .eth{
      display: flex;
      justify-content: space-between;
  }
  .first{
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 5px;
      color: hsl(178, 100%, 50%);
  }
  .second{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    color: hsl(215, 51%, 70%);
}

.hr{
    height: 1px;
    background-color: hsl(215, 32%, 27%);
    width: 100%;
    margin: 12px 2px;
}

.img{
    display: flex;
    align-items: center;
    gap: 10px;
}
.img img{
    width: 30px;
    border: 1px solid white;
    border-radius: 50%;
}
.img p{
    color: hsl(215, 51%, 70%);
}
.img span{
    color: white;
}
.img span:hover{
    color: hsl(178, 100%, 50%);
    cursor: pointer;
}

.hoverr{
    transition: .3s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  cursor: pointer;
  
}

.img-container .fuck:hover{

    border-radius: 10px;
    opacity: 0.5;
    
}

.img-container:hover .hoverr{
    opacity: 1;

}
